div p.redletter{
  color: red;
}

#box2{
  margin: 20px 20px 20px 20px;
  border-width: medium;
  border: black 5px dashed;
  padding: 5px 5px 5px 5px;
  background-color: green;
}

div p.darkgreenletter{
  color: darkgreen;
}

div p.purpleletter{
  color: purple;
  background-color: green;
}

#box1{
  background-color: green;
}
