p.align1{
  text-align: center;
  margin-top: 200px;
  margin-right: 10%;
  margin-bottom: 20px;
  margin-left: 10%;
  border: purple 2px dashed;
  font-size: 10px;

}

#greentext{
	color: green;
	font-weight: bold;
	text-align: center;
  font-size: 5px;
}

#orangetext{
color: orange;
}

#purpletext{
color: purple;
text-align: right;
font-size: 5px;
}

#redsuper{
color: red;
vertical-align: super;
}
#yellowcaps{
color: yellow;
font-style: italic;
text-transform: uppercase;
}
