body{
  background-color: blue;
  margin-top: 85px;
  margin-right: 85px;
  margin-bottom: 200px;
  margin-left: 85px;
  padding: 16px;
  border: black 3px solid;
}

p#paraID{
  color: magenta;
  margin-top: 10px;
  margin-right: 60px;
  margin-bottom: 100%;
  margin-left: 25%;
  padding: 16px;
  border: darkgreen 1px dashed;
  text-align: left;
}

img{
  margin-top: 10px;
  padding: 10px;
  border: orange 2px dashed;
  text-align: left;

}
