body{
  background-color: blue;
}

#paraID{
  margin-top: 150px;
  margin-right: 140px;
  margin-bottom: 150px;
  margin-left: 140px;
  padding: 5px 5px 5px 5px;
  border: black 4px solid;
}

img{
  margin: 10px 10px 10px 10px;
  margin-left: -6px;
  margin-bottom: -6px;
  padding: 20px 20px 20px 20px;
  border: orange 2px dashed;
}
p{
  color: magenta;
  margin: 10px 10px 10px 10px;
  border: green 2px dashed;
  border-width: thin;
  padding: 5px 5px 5px 5px;
}
