body{
  background-color: green;
}

#wrapper{
  width: 600px;
  margin: 0 auto;
}

#blue{
  background-color: blue;
  height: 180px;
  float: left;
  width: 180px;
  font-size: 13px;
  position: relative;
  right: 70px;
}

#yellow{
  background-color: yellow;
  height: 180px;
  float: left;
  width: 180px;
  font-size: 13px;
  position: relative;
  left: 30px;
  top: 200px;
}

#red{
  background-color: red;
  height: 180px;
  float: right;
  width: 180px;
  position: relative;
  left: 70px;
  bottom: 1px;
  font-size: 13px;
}
